<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="FreeTextClaimSearchResultsLV">
    <Require
      name="helper"
      type="gw.pcf.freetextclaimsearch.FreeTextClaimSearchScreenHelper"/>
    <ExposeIterator
      flags="RetrievableClaim"
      valueType="FreeTextClaimSearchEntity"
      widget="FreeTextClaimSearchResultsIterator"/>
    <Require
      name="results"
      type="java.util.List&lt;FreeTextClaimSearchEntity&gt;"/>
    <RowIterator
      editable="false"
      elementName="result"
      hasCheckBoxes="true"
      id="FreeTextClaimSearchResultsIterator"
      pickValue="result"
      value="results"
      valueType="java.util.List&lt;entity.FreeTextClaimSearchEntity&gt;">
      <ToolbarFlag
        condition="false"
        name="RetrievableClaim"/>
      <Row>
        <TextCell
          id="Rank"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Rank&quot;)"
          printWidth="0.12"
          value="result.Rank"
          valueType="java.lang.Integer"/>
        <TextCell
          id="RelevanceNum"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Score&quot;)"
          sortBy="result.Score"
          sortDirection="descending"
          value="helper.getScorePercent(result.Score)"/>
        <TextCell
          action="FreeTextClaimForward.go(result.ClaimNumber, ClaimSearchType.TC_ACTIVE)"
          id="ClaimNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.ID&quot;)"
          printWidth="0.12"
          value="result.ClaimNumber"/>
        <TextCell
          id="PolicyNumber"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.PolicyNumber&quot;)"
          printWidth="0.12"
          value="result.PolicyNumber"/>
        <TextCell
          id="Status"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Status&quot;)"
          printWidth="0.12"
          value="result.Status"/>
        <DateCell
          id="Date"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Date&quot;)"
          printWidth="0.12"
          value="result.Date"/>
        <TextCell
          id="FullName"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.FullName&quot;)"
          value="result.FullName"/>
        <TextCell
          id="Address"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Address&quot;)"
          printWidth="0.14"
          value="result.Address"/>
        <TextCell
          id="City"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.City&quot;)"
          printWidth="0.14"
          value="result.City"/>
        <TypeKeyCell
          id="State"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.State&quot;)"
          printWidth="0.14"
          value="result.State"
          valueType="typekey.State"/>
        <TextCell
          id="PostalCode"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.PostalCode&quot;)"
          printWidth="0.14"
          value="result.PostalCode"/>
        <TextCell
          id="Phone"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Phone&quot;)"
          printWidth="0.14"
          value="result.Phone"/>
        <TextCell
          id="Roles"
          label="DisplayKey.get(&quot;LV.Claim.ClaimSearchResults.Claims.Roles&quot;)"
          printWidth="0.14"
          value="result.Roles"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>