<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="MirClaimantInformationInputSet">
    <Require
      name="anExposure"
      type="Exposure"/>
    <RangeInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.RREID&quot;)"
      id="MirRREIDDropdown"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.rreid&quot;)"
      value="anExposure.mirReportable_Acc.ClaimRREID"
      valueRange="gw.api.database.Query.make(MirRREID_Acc).select().map(\elt -&gt; elt.RREID).toList()"
      valueType="java.lang.String"></RangeInput>
    <RangeInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.OfficeCode&quot;)"
      id="MirOfficeCodeDropdown"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.officecode&quot;)"
      value="anExposure.mirReportable_Acc.ClaimOfficeCode"
      valueRange="gw.api.database.Query.make(MirOfficeCode_Acc).select().map(\elt -&gt; elt.OfficeCode).toList()"
      valueType="java.lang.String"
      visible="gw.api.database.Query.make(MirOfficeCode_Acc).select().Count &gt; 0"></RangeInput>
    <TextInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.ICN&quot;)"
      id="mirICN"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.icn&quot;)"
      value="anExposure.mirReportable_Acc.ICN"></TextInput>
    <TextInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.HICNMBI&quot;)"
      id="mirHicn"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.hicn&quot;)"
      value="anExposure.mirReportable_Acc.HICNOrMBI"/>
    <BooleanDropdownInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.Reportable&quot;)"
      id="mirIsReportable"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.reportable&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().IsCMSReportable"/>
    <BooleanDropdownInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.Reportable&quot;)"
      id="mirIsReady"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.isready&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().IsReadyForCMS"/>
    <TextInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.beneficiarystatus&quot;) "
      id="mirBeneficiaryStatus"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.beneficiarystatus&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().BeneficiaryStatus"/>
    <DateInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.CMSDOI&quot;)"
      id="MirCMSDateOfIncident"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.cmsDoi&quot;)"
      value="anExposure.mirReportable_Acc.CMSDateOfIncident"></DateInput>
    <DateInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.CMSDOI&quot;)"
      id="MirLastSubmit"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.LastSubmit&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().LastCMSSubmit"></DateInput>
    <BooleanDropdownInput
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.onhold&quot;)"
      id="mirIHoldStatus"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.holdstatus&quot;) "
      value="anExposure.mirReportable_Acc.HoldStatus"/>
    <RangeInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.orm&quot;)"
      id="MirSettlementStatusInput"
      label="DisplayKey.get(&quot;Accelerator.mir.label.settlementstatus&quot;)"
      required="false"
      value="anExposure.mirReportable_Acc.SettlementStatus"
      valueRange="typekey.MirSettlementStatus_Acc.AllTypeKeys"
      valueType="typekey.MirSettlementStatus_Acc"/>
    <CurrencyInput
      editable="true"
      id="MirProposedSettlementAmountInput"
      label="DisplayKey.get(&quot;Accelerator.mir.label.proposedsettlement&quot;)"
      required="false"
      value="anExposure.mirReportable_Acc.TotalPropsedSettlementAmount"/>
  </InputSet>
</PCF>

