<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="MirClaimDetailsDV">
    <Require
      name="anExposure"
      type="Exposure"/>
    <Variable
      initialValue="anExposure.mirReportable_Acc != null ? anExposure.mirReportable_Acc : acc.mir.helper.MirReportableUtil.initMirReportable(anExposure)"
      name="anMirReportable_Acc"
      type="MirReportable_Acc"/>
    <InputColumn>
      <ButtonInput
        action="submitNow(anExposure)"
        available="acc.mir.helper.MirReportableUtil.isBigFiveReady(anExposure) &amp;&amp; !anExposure.Claim.IncidentReport &amp;&amp; anExposure.Claim.Policy.Status == PolicyStatus.TC_INFORCE"
        boldValue="true"
        hideIfEditable="true"
        id="mirSubmitNow"
        label="DisplayKey.get(&quot;Accelerator.mir.label.submit&quot;)"
        value="DisplayKey.get(&quot;Accelerator.mir.heading.SubmitNow&quot;) "/>
      <InputDivider
        __disabled="true"/>
      <Label
        id="mirResponseHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.LatestRespCodes&quot;) "/>
      <ListViewInput
        def="MirExposureActivityLV(anExposure.Activities.where(\elt -&gt; elt.ActivityPattern.Code == gw.util.PropertiesFileAccess.getProperties(&quot;acc/mir/properties/MMSEA.properties&quot;).getProperty(&quot;MIR.ACTIVITY.CODE&quot;) &amp;&amp; elt.Status == ActivityStatus.TC_OPEN))">
        <Toolbar></Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        id="mirClaimantDetailHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.clmDtl&quot;)"/>
      <InputSetRef
        def="MirExposureInputSet(anExposure)"
        id="mirExposureRef"/>
      <InputDivider/>
      <Label
        id="mirReportingDetailHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.rptDtl&quot;)"/>
      <InputSetRef
        def="MirClaimantInformationInputSet(anExposure)"
        id="mirClaimantInformationInputSetref"/>
      <InputDivider/>
      <Label
        id="mirORMHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.orm&quot;)"/>
      <InputSetRef
        def="MirORMInputSet(anExposure)"
        editable="true"
        id="OrmRef"/>
      <InputDivider/>
      <Label
        id="mirTPOCHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.tpoc&quot;)"/>
      <ListViewInput
        def="MirTPOCLV(anMirReportable_Acc)"
        id="mirTpocLv">
        <Toolbar>
          <IteratorButtons
            id="mirTpocIterator"
            iterator="mirTpocLv.MirTPOCLV"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        id="miContacHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.claimContacts&quot;) "/>
      <ButtonInput
        action="ClaimContacts.push(anExposure.Claim)"
        align="left"
        available="InEditMode == false"
        boldValue="true"
        hideIfEditable="true"
        id="mirEditContacts"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.editclaimcontacts&quot;) "
        value="DisplayKey.get(&quot;Accelerator.mir.heading.gotoclaimcontacts&quot;) "/>
      <ButtonInput
        action="MirContactHelp_AccPopup.push()"
        align="left"
        boldValue="true"
        hideIfEditable="true"
        id="mirEditContactsHelp"
        value="&quot;Help&quot;"/>
      <InputDivider/>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRATTORNEY_ACC)"
        id="MirAttyLv">
        <Toolbar
          id="MirAttyToolbar"
          visible="false"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRGUARDIAN_ACC)"
        id="MirHetHelpContacts">
        <Toolbar
          id="MirGuardianToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRPOWEROFATTORNEY_ACC)"
        id="MirPowerOfAttorneyLV">
        <Toolbar
          id="MirPowerOfAttorneyToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRGUARDIAN_ACC)"
        id="MirGuardianLV">
        <Toolbar
          id="MirPowerOfAttorneyToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIROTHERREP_ACC)"
        id="MirOtherRepLV">
        <Toolbar
          id="MirOtherRepToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRESTATE_ACC)"
        id="MiEstateLV">
        <Toolbar
          id="MirEstateToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRFAMILYMEMBER_ACC)"
        id="MirFamilyMemberLV">
        <Toolbar
          id="MirFamilyMemberToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIROTHERREL_ACC)"
        id="MirOtherRelativeLV">
        <Toolbar
          id="MirOtherRelativeToolbar"/>
      </ListViewInput>
      <Label
        id="mirICDHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.icd&quot;) "/>
      <ListViewInput
        def="MirIcdLV(anExposure)">
        <Toolbar
          id="MirIcdToolbar"
          visible="false"/>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[uses java.time.Instant

uses org.joda.time.DateTime

uses acc.mir.batch.MirSubmitClaimsToFSWorkQueue

function submitNow(exposure : Exposure) {
  gw.transaction.Transaction.runWithNewBundle(\bundle -> {
    var workQueue = new MirSubmitClaimsToFSWorkQueue()
    workQueue.processExposure(exposure)
  })
}

]]></Code>
  </DetailViewPanel>
</PCF>