<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterCommit="MirClaimDetailsPopup.push(anExposure)"
    canEdit="true"
    id="MirClaimDetailsPopup"
    title="DisplayKey.get(&quot;Accelerator.mir.heading.MirCard&quot;)">
    <LocationEntryPoint
      signature="MirClaimDetailsPopup(anExposure : entity.Exposure)"/>
    <Variable
      name="anExposure"
      type="Exposure"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="MirClaimDetailsDV(anExposure)"></PanelRef>
    </Screen>
  </Popup>
</PCF>