<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="MirClaimDetailsDV">
    <Require
      name="anExposure"
      type="Exposure"/>
    <Variable
      initialValue="anExposure.mirReportable_Acc != null ? anExposure.mirReportable_Acc : acc.mir.helper.MirReportableEnhancement.initMirReportable(anExposure)"
      name="anMirReportable_Acc"
      type="MirReportable_Acc"/>
    <InputColumn>
      <ButtonInput
        action="submitNow(anExposure)"
        available="InEditMode == false &amp;&amp; anExposure.Claimant != null"
        boldValue="true"
        id="mirSubmitNow"
        value="DisplayKey.get(&quot;Accelerator.mir.heading.SubmitNow&quot;) "/>
      <InputDivider/>
      <Label
        id="mirResponseHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.LatestRespCodes&quot;) "
        visible="anMirReportable_Acc.MirReportingHistorys.last().MIRResponseCodes.length &gt;= 0"/>
      <ListViewInput
        available="anMirReportable_Acc.MirReportingHistorys != null"
        def="MirExposureResponseCodesLV(anMirReportable_Acc)"
        visible="anMirReportable_Acc.MirReportingHistorys.last().MIRResponseCodes.length &gt;= 0">
        <Toolbar></Toolbar>
      </ListViewInput>
      <InputDivider/>
      <Label
        id="mirClaimantDetailHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.clmDtl&quot;)"/>
      <InputSetRef
        def="MirExposureInputSet(anExposure)"
        id="mirExposureRef"/>
      <InputDivider/>
      <Label
        id="mirReportingDetailHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.rptDtl&quot;)"/>
      <InputSetRef
        def="MirClaimantInformationInputSet(anExposure)"
        id="mirClaimantInformationInputSetref"/>
      <InputDivider/>
      <Label
        id="mirORMHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.orm&quot;)"/>
      <InputSetRef
        def="MirORMInputSet(anExposure)"
        editable="true"
        id="OrmRef"/>
      <InputDivider/>
      <Label
        id="mirTPOCHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.tpoc&quot;)"/>
      <ListViewInput
        def="MirTPOCLV(anMirReportable_Acc)"
        id="mirTpocLv">
        <Toolbar>
          <IteratorButtons
            id="mirTpocIterator"
            iterator="mirTpocLv.MirTPOCLV"/>
        </Toolbar>
      </ListViewInput>
    </InputColumn>
    <InputColumn>
      <Label
        id="miContacHeading"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.claimContacts&quot;) "/>
      <ButtonInput
        action="ClaimContacts.push(anExposure.Claim)"
        align="left"
        available="InEditMode == false"
        boldValue="true"
        hideIfEditable="true"
        id="mirEditContacts"
        label="DisplayKey.get(&quot;Accelerator.mir.heading.editclaimcontacts&quot;) "
        value="DisplayKey.get(&quot;Accelerator.mir.heading.gotoclaimcontacts&quot;) "/>
      <ButtonInput
        action="MirContactHelp_AccPopup.push()"
        align="left"
        boldValue="true"
        hideIfEditable="true"
        id="mirEditContactsHelp"
        value="&quot;Help&quot;"/>
      <InputDivider/>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRATTORNEY_ACC)"
        id="MirAttyLv">
        <Toolbar
          id="MirAttyToolbar"
          visible="false"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRGUARDIAN_ACC)"
        id="MirHetHelpContacts">
        <Toolbar
          id="MirGuardianToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRPOWEROFATTORNEY_ACC)"
        id="MirPowerOfAttorneyLV">
        <Toolbar
          id="MirPowerOfAttorneyToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRGUARDIAN_ACC)"
        id="MirGuardianLV">
        <Toolbar
          id="MirPowerOfAttorneyToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIROTHERREP_ACC)"
        id="MirOtherRepLV">
        <Toolbar
          id="MirOtherRepToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRESTATE_ACC)"
        id="MiEstateLV">
        <Toolbar
          id="MirEstateToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIRFAMILYMEMBER_ACC)"
        id="MirFamilyMemberLV">
        <Toolbar
          id="MirFamilyMemberToolbar"/>
      </ListViewInput>
      <ListViewInput
        def="MirContactLV(anExposure, ContactRole.TC_MIROTHERREL_ACC)"
        id="MirOtherRelativeLV">
        <Toolbar
          id="MirOtherRelativeToolbar"/>
      </ListViewInput>
    </InputColumn>
    <Code><![CDATA[uses acc.mir.batch.MirSubmitClaimsToFSWorkQueue

function submitNow(exposure : Exposure) {
  gw.transaction.Transaction.runWithNewBundle(\bundle -> {
    var workQueue = new MirSubmitClaimsToFSWorkQueue()
    var workItem = workQueue.createWorkItem(exposure, bundle)
    workItem.initialize()
    workQueue.processWorkItem(workItem)
  })
}

]]></Code>
  </DetailViewPanel>
</PCF>