<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="MirClaimantInformationInputSet">
    <Require
      name="anMIRReportable_Acc"
      type="MirReportable_Acc"/>
    <RangeInput
      editable="true"
      id="MirRREIDDropdown"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.rreid&quot;)"
      value="anMIRReportable_Acc.ClaimRREID"
      valueRange="gw.api.database.Query.make(MirRREID_Acc).select().map(\elt -&gt; elt.RREID).toList()"
      valueType="java.lang.String"/>
    <TextInput
      editable="true"
      id="mirICN"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.icn&quot;)"
      value="anMIRReportable_Acc.ICN"/>
    <TextInput
      id="mirHicn"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.hicn&quot;)"
      value="anMIRReportable_Acc.HICNOrMBI"/>
    <DateInput
      editable="true"
      id="MirCMSDateOfIncident"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.cmsDoi&quot;)"
      value="anMIRReportable_Acc.CMSDateOfIncident"></DateInput>
  </InputSet>
</PCF>

