<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="MirClaimDetailsPopup"
    title="DisplayKey.get(&quot;Accelerator.mir.heading.MirCard&quot;)">
    <LocationEntryPoint
      signature="MirClaimDetailsPopup(anExposure : entity.Exposure)"/>
    <Variable
      name="anExposure"
      type="Exposure"/>
    <Screen>
      <PanelRef
        def="MirClaimDetailsDV(anExposure)"/>
    </Screen>
  </Popup>
</PCF>