<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="MirClaimantInformationInputSet">
    <Require
      name="anExposure"
      type="Exposure"/>
    <RangeInput
      editable="true"
      id="MirRREIDDropdown"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.rreid&quot;)"
      value="anExposure.mirReportable_Acc.ClaimRREID"
      valueRange="gw.api.database.Query.make(MirRREID_Acc).select().map(\elt -&gt; elt.RREID).toList()"
      valueType="java.lang.String"/>
    <RangeInput
      editable="true"
      id="MirOfficeCodeDropdown"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.officecode&quot;)"
      value="anExposure.mirReportable_Acc.OfficeCode"
      valueRange="gw.api.database.Query.make(MirOfficeCode_Acc).select().map(\elt -&gt; elt.OfficeCode).toList()"
      valueType="entity.MirOfficeCode_Acc"
      visible="gw.api.database.Query.make(MirOfficeCode_Acc).select().Count &gt; 0"/>
    <TextInput
      editable="true"
      id="mirICN"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.icn&quot;)"
      value="anExposure.mirReportable_Acc.ICN"/>
    <TextInput
      id="mirHicn"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.hicn&quot;)"
      value="anExposure.mirReportable_Acc.HICNOrMBI"/>
    <BooleanDropdownInput
      id="mirIsReportable"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.reportable&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().IsCMSReportable"/>
    <TextInput
      id="mirBeneficiaryStatus"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.beneficiarystatus&quot;)"
      value="anExposure.mirReportable_Acc.MirReportingHistorys.last().BeneficiaryStatus"/>
    <DateInput
      editable="true"
      id="MirCMSDateOfIncident"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.cmsDoi&quot;)"
      value="anExposure.mirReportable_Acc.CMSDateOfIncident"></DateInput>
    <BooleanDropdownInput
      id="mirIHoldStatus"
      label="DisplayKey.get(&quot;Accelerator.mir.labels.holdstatus&quot;) "
      value="anExposure.mirReportable_Acc.HoldStatus"/>
  </InputSet>
</PCF>

