<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="MirORMInputSet">
    <Require
      name="anExposure"
      type="Exposure"/>
    <RangeInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.orm&quot;)"
      id="MirHasORmInput"
      label="DisplayKey.get(&quot;Accelerator.mir.label.orm&quot;)"
      required="anExposure.mirReportable_Acc.ORMTermDate != null"
      value="anExposure.mirReportable_Acc.HasORM"
      valueRange="new String[]{acc.mir.webservice.mirsubmitfs.dataservice.enums.TripleState.Yes.Code, acc.mir.webservice.mirsubmitfs.dataservice.enums.TripleState.No.Code, acc.mir.webservice.mirsubmitfs.dataservice.enums.TripleState.Unknown.Code}"
      valueType="java.lang.String"/>
    <DateInput
      editable="true"
      helpText="DisplayKey.get(&quot;Accelerator.mir.definitions.OrmTerm&quot;)"
      id="OrmTermDate"
      label="DisplayKey.get(&quot;Accelerator.mir.label.ormterm&quot;)"
      requestValidationExpression="(VALUE.after(anExposure.Claim.LossDate)) ? null : DisplayKey.get(&quot;Accelerator.mir.ormtermdoierror&quot;)"
      value="anExposure.mirReportable_Acc.ORMTermDate"/>
  </InputSet>
</PCF>