<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MirRelationsLV">
    <Require
      name="anExposure"
      type="Exposure"/>
    <ExposeIterator
      valueType="MirRelation_Acc"
      widget="MirRelationsLV"/>
    <RowIterator
      editable="true"
      elementName="MirRelation"
      toAdd="anExposure.mirReportable_Acc.addToRelation(MirRelation)"
      toRemove="anExposure.mirReportable_Acc.removeFromRelation(MirRelation)"
      value="anExposure.mirReportable_Acc.Relation"
      valueType="entity.MirRelation_Acc[]">
      <Row>
        <RangeCell
          id="thisisatest"
          value="MirRelation.Contact"
          valueRange="anExposure.Claim.Contacts.map(\c -&gt; c.ID.Value).toList()"
          valueType="java.lang.Long"/>
        <TypeKeyCell
          editable="true"
          id="MirRelationTypeDropdown"
          label="&quot;TODO&quot;"
          value="MirRelation.RelationType"
          valueType="typekey.MirRelationType_Acc"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>