<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MirRelationsLV">
    <Require
      name="anExposure"
      type="Exposure"/>
    <ExposeIterator
      valueType="MirRelation_Acc"
      widget="MirRelationsLV"/>
    <RowIterator
      editable="true"
      elementName="MirRelation"
      toAdd="anExposure.mirReportable_Acc.addToRelation(MirRelation)"
      toRemove="anExposure.mirReportable_Acc.removeFromRelation(MirRelation)"
      value="anExposure.mirReportable_Acc.Relation"
      valueType="entity.MirRelation_Acc[]">
      <Row>
        <ClaimRelatedContactCell
          claim="anExposure.Claim"
          editable="true"
          id="Contact"
          label="DisplayKey.get(&quot;Web.RelatedContactsLV.Contact&quot;)"
          required="true"
          sortBy="contactContact.getOtherContact(Contact).PrimarySortValue,contactContact.getOtherContact(Contact).SecondarySortValue,contactContact.getOtherContact(Contact).TertiarySortValue,contactContact.getOtherContact(Contact).QuaternarySortValue"
          sortOrder="2"
          value="MirRelation.Contact"
          valueRange="anExposure.Claim.RelatedContacts"/>
        <ClaimContactCell
          claim="anExposure.Claim"
          editable="true"
          forceContactSubtype="Doctor.Type"
          id="Provider_name"
          label="DisplayKey.get(&quot;NVV.Claim.MedCaseMgrDetails.MedicalDiagnosis.Provider&quot;)"
          onPick="helper.providerOnPick(aMedicalDiagnosis)"
          required="true"
          value="gw.transaction.Transaction MirRelation.Contact"
          valueRange="injury.Claim.RelatedDoctorArray"/>
        <TypeKeyCell
          editable="true"
          id="MirRelationTypeDropdown2"
          label="&quot;TODO&quot;"
          valueType="MirRelationType_Acc"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>